.indicator {
    padding: 1em;
}

:global .panel-blue {
    border-color: #337ab7;
}

:global .panel-blue .panel-heading {
    border-color: #337ab7;
    color: #fff;
    background-color: #337ab7;
}

:global .panel-blue a {
    color: #337ab7;
}

:global .panel-blue a:hover {
    color: #337ab7;
}

:global .panel-green {
    border-color: #27ae60;
}

:global .panel-green .panel-heading {
    border-color: #27ae60;
    color: #fff;
    background-color: #27ae60;
}

:global .panel-green a {
    color: #27ae60;
}

:global .panel-green a:hover {
    color: #27ae60;
}

:global .panel-red {
    border-color: #c0392b;
}

:global .panel-red .panel-heading {
    border-color: #c0392b;
    color: #fff;
    background-color: #c0392b;
}

:global .panel-red a {
    color: #c0392b;
}

:global .panel-red a:hover {
    color: #c0392b;
}

:global .panel-yellow {
    border-color: #f1c40f;
}

:global .panel-yellow .panel-heading {
    border-color: #f1c40f;
    color: #fff;
    background-color: #f1c40f;
}

:global .panel-yellow a {
    color: #f1c40f;
}

:global .panel-yellow a:hover {
    color: #f1c40f;
}

:global .huge {
    font-size: 36px;
}

:global path .fill {
    color: white;
}

:global .graphics {
    padding: 2em;
}

:global .date-input {
    margin-top: -40px;
    padding-right: 40;
    font-size: 20px;
    position: absolute;
    right: 0%;
}

:global .date-picker {
    cursor: pointer;
    background: transparent;
    border: transparent;
    color: white;
    text-align: right;
}

:global .loading {
    width: 80px;
    content: url(http://mupit.icm.jhu.edu/MuPIT_Interactive/images/load.gif);
    display: table;
    margin: 0 auto;
}