._3WPHw-EQIKAg90iPBJQQdD {
    background: linear-gradient(90deg, #00384c 0, #00384c 25%, #00384c);
}

._1WZxWYFLls2fWX6WkPN4Pl {
    color: #fff;
    flex-shrink: 0;
    font-size: 2em;
    font-weight: normal;
    margin: 0px 0px 0px -20px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /*margin: 0 auto;*/
    max-width: 1000px;
    padding: .5em 1em;
    width: 100%;
}

._2XIaaXO0sWdJCG6ITDcBqk {
    display: flex;
    padding-bottom: 1em;
    padding-left: 1em;
}

._1SSczhBXMvBYvyLGs2RY_X {
    color: white;
    text-decoration: none;
    transition: all .3s;
    border: 1px solid white;
    border-radius: .25em;
    padding: .25em .5em;
    margin: 0 .5em;
}
._1SSczhBXMvBYvyLGs2RY_X:first-of-type {
    margin-left: 0;
}
._1SSczhBXMvBYvyLGs2RY_X:last-of-type {
    margin-right: 0;
}

._1SSczhBXMvBYvyLGs2RY_X:hover {
    background-color: white;
    color: black;
    transform: scale(1.01);
}

._11ux5MqSMFuRQ7N35d6xQC {
    width: 50%;
    height: 50%;
}._3WgxSfUQ1P9Ce4psLvG6mm {
    padding: 1em;
}

._2ZwEIDIE1YPzCCe0TAdmnR {
    border-color: #5cb85c;
}

._2ZwEIDIE1YPzCCe0TAdmnR ._1YHgLgvmq7ZSfxNywhJrwE {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

._2ZwEIDIE1YPzCCe0TAdmnR a {
    color: #5cb85c;
}

._2ZwEIDIE1YPzCCe0TAdmnR a:hover {
    color: #3d8b3d;
}

.npNIQMbOdk_OkyHE0ULDV {
    border-color: #d9534f;
}

.npNIQMbOdk_OkyHE0ULDV ._1YHgLgvmq7ZSfxNywhJrwE {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.npNIQMbOdk_OkyHE0ULDV a {
    color: #d9534f;
}

.npNIQMbOdk_OkyHE0ULDV a:hover {
    color: #b52b27;
}

._2OBbfzSqcV3MrNFCAre1dV {
    border-color: #f0ad4e;
}

._2OBbfzSqcV3MrNFCAre1dV ._1YHgLgvmq7ZSfxNywhJrwE {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

._2OBbfzSqcV3MrNFCAre1dV a {
    color: #f0ad4e;
}

._2OBbfzSqcV3MrNFCAre1dV a:hover {
    color: #df8a13;
}
